:root {
  --accent: #57c26b;
  --text: #e7e7e7;
  --bg-0: #121212;
  --bg-1: #1d1d1d;
  --glow: rgba(255,255,255,.06);
}

$maxw: 80rem;

$space-1: .5rem;
$space-2: 1rem;
$radius: .5rem;
$pill-radius: .75rem;

$border: #444;
$font-stack: system-ui, Arial, sans-serif;

$break-tablet: 48rem;
$break-desktop: 64rem;

$ns: (
  font: $font-stack,
  background: #fffa,
  margin: $space-2
);

$accent: #57c26b;         // groen uit je ontwerp
$text: #e7e7e7;           // tekstkleur op donker
$bg-0: #121212;           // basis
$bg-1: #1d1d1d;           // bovenlaag
$glow: rgba(255,255,255,.06);